<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <%- include('./common/stylesheets') %>
  </head>
  <body style="background-color: #26332d">
  <div class="container" style="color:white">

      <div class="row col-lg-6 col-lg-offset-3 ">
        <h2><%= title %></h2><br>
        <form name="pet">
              <div class="form-group">
                <label for="fname">First Name :</label>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter First Name">
              </div>

              <div class="form-group">
                <label for="lname">Last Name :</label>
                <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
              </div>

              <div class="form-group">
                <label for="age">E-mail :</label>
                <input type="text" class="form-control" id="mail" placeholder="Enter E-mail">
              </div>

              <div class="form-group">
                <label for="dob">Password :</label>
                <input type="password" class="form-control" id="pwd" placeholder="Password">
              </div>
            <div >
              <br><button type="button" id="btn" class="btn btn-primary col-md-offset-4"><b>Register Yourself</b></button><br>
              <hr><button type="button" id="login" class="btn btn-success col-md-offset-5"><b>Login</b></button>
            </div>
       </form>
     </div>     <!-- Second Cloumn-->
 </div>          <!--   Container Class -->

<%- include('./common/javascripts') %>

 <script>
    $(document).ready(function() {
         $('#login').click(function(){
           window.location.href = '/login';
         });
         
         $('#btn').click(function () {

             first = $('#fname').val();
              last = $('#lname').val();
         mailinput = $('#mail').val();
          pwdinput = $('#pwd').val();

      //alert('ok');

 if(user(first,last))
  {
     if(ValidateEmail(mailinput))
       {
         if(password(pwdinput))
           {
                var user = {

                   name :  {
                             first : $('#fname').val(),
                              last : $('#lname').val(),
                           },

                   email : $('#mail').val(),
                password : $('#pwd').val()
               }

               $.ajax({
                        type :"POST",
                       cache :false,
                         url :'/',
                        data : user ,    // multiple data sent using ajax
                     success : function(result){
                                  //alert(abc.name.first);
                                  //alert('User registration is successful.');
                                  clearform();
                                  new PNotify({
                                        title: 'Thank You',
                                         text: 'You are now registered.',
                                         type: 'success',
                                         icon: 'fa fa-user-circle'
                                  });
                              }
                      });
           }
       }
  }
  return false;

// USER NAME VALIDATION --
   function user(f,l){

       if (f==''){
           //alert('Please fill first name');
           new PNotify({
                 title: 'Alert',
                  text: 'Please Fill First Name.',
                  type: 'error',
                  icon: 'fa fa-user-circle'
           });
            $('#fname').focus();
           return false;
       }
       else if(l==''){
         //alert('Please fill last name');
         new PNotify({
               title: 'Alert',
                text: 'Please Fill Larst Name.',
                type: 'error',
                icon: 'fa fa-user-circle'
         });
         $('#lname').focus();
         return false;
       }
     return true;
   }

//EMAIL VALIDATION --
   function ValidateEmail(mailinput){

      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if(mailinput.match(mailformat)){
         return true;
      }
      else{
         //alert("You have entered an invalid email address!");
        new PNotify({
              title: 'Alert',
               text: 'Invalid E-mail Address.',
               type: 'error',
               icon: 'fa fa-user-circle'
        });
        $('#mail').focus();
        return false;
     }
   }
//PASSWORD VALIDATION --
   function password(b)
   {
     if(b==''){
      // alert("Please provide password");
       new PNotify({
             title: 'Alert',
              text: 'Please Fill Password',
              type: 'error',
              icon: 'fa fa-user-circle'
       });
       $('#pwd').focus();
       return false;
      }
     else {
        return true;
     }
    return false;
   }

  //CLEAR FORM FIELDS

  function clearform(){
      $('#fname').val(null);
      $('#lname').val(null);
      $('#mail').val(null);
      $('#pwd').val(null);
  }


   });
});
</script>
</body>
</html>
