body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#j{
            background-color: #25272b;
            color:white;
            opacity: 0.7;
            /*filter: alpha(opacity=60);*/
  }

#b{
      background-color:#2f4972;


}
